<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-warning alert-dismissible alert-cookies" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        Ved å bruke nettstedet vårt, godtar du bruken av cookies. <%= link_to "Les mer", root_path %>.
      </div>
    </div>
  </div>
</div>
