/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 //= require active_admin/editor/wysiwyg
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  color:#4545454;
}

.navbar {
    background: #fff;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1) !important;
    border-radius: 0px;
    padding: 5px 0px !important;
    margin-bottom: 0px !important;
}

.nav > li {
    text-align: center;
}

.navbar .navbar-nav > li > a {
    font-weight: 500;
    color: #454545;
}

.navbar-top {
  background: #FFC107;
}

.navbar-brand {
    color: #454545 !important;
    font-weight: 800;
    letter-spacing: -.05rem;
    font-size: 20px !important;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #fff !important;
}

.btn-for-employers {
  background: #FFC107 !important;
  border-color: #FFC107 !important;
  color: #fff !important;
  font-weight: 500;
  padding: 6px 12px !important;
}

.btn-for-employers:hover {
  background: #FFC107 !important;
  border-color: #FFC107 !important;
  color: #fff !important;
  font-weight: 500;
  padding: 6px 12px !important;
}



.btn-navbar-top {
  color:#fff !important;
  font-weight: 500 !important;
  padding-left:0rem;
  padding-right:0rem;
  background:transparent;
  border-color:transparent;
}

.dropdown-menu-navbar-top {
  margin:0rem !important;
  border:1px solid #f5f5f5;
  box-shadow:0 0 5px rgba(0, 0, 0, 0.1) !important;
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}

.dropdown-menu-navbar-top > li > a:hover {
  background:transparent !important;
  color:#424242 !important;
}

.dropdown-menu-navbar-top > li > a {
  color:#424242 !important;
  font-weight: 500;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 0px !important;
    padding-left: 0rem !important;
}

.navbar-toggle {
    position: relative;
    float: right;
    margin-right: 0px;
    padding: 14px 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.padding-2 {
  padding:2rem 0rem;
}

.bold {
  font-weight: 500 !important;
}

.margin-0 {
  margin:0rem !important;
}

.justify {
  text-align: justify;
}

.muted {
  color:#656565;
}

h4 {
  margin-top:0px !important;
  margin-bottom:7.5px !important;
}

p {
  margin-bottom: 7.5px !important;
}

.job-listing-single-job {
  margin-bottom:24px;
}

.label-exclusive {
  background:#FFC107 !important;
  border:1px solid #FFC107 !important;
  color:#fff;
  font-weight: 500;
  font-size:14px;
}

.job-listing-paginate {
  text-align: center !important;
}

.btn-view-job {
  background:#f5f5f5 !important;
  border:1px solid #f5f5f5 !important;
  color:#424242 !important;
  font-weight: 500;
}

.btn-view-employer {
  background:#FFC107 !important;
  border:1px solid #FFC107 !important;
  color:#fff !important;
  font-weight: 500;
}

.btn-apply-now {
  background:#009688;
  color:#fff;
  border:1px solid #009688;
  font-weight: 500;
}

.page-header {
  padding-top: 48px;
  padding-bottom: 48px;
  margin:0px !important;
  border-bottom:none !important;
}

.page-wrapper {
  min-height: 100vh;
}

.btn-call-to-action {
  background:#FFC107;
  border-color:#FFC107;
  font-weight: 600;
  color:#fff;
}

.btn-call-to-action:hover {
  background:#FFC107;
  border-color:#FFC107;
  font-weight: 600;
  color:#fff;
  box-shadow:none;
}

.call-to-action {
  padding-top:48px;
  padding-bottom: 48px;
}

.center {
  text-align: center !important;
}

.pricing-table {
  border:1px solid #f5f5f5;
  border-radius: 4px;
  margin-bottom: 15px;
}

.pricing-table-basic {
  color:#656565 !important;
}

.pricing-table-exclusive {
  box-shadow:0 0 5px rgba(0, 0, 0, 0.1) !important;
}

.pricing-table-header {
  padding:30px;
  text-align: center;
}

.pricing-table-content {
  padding:0px 30px;
}

.pricing-table-footer {
  padding:30px;
  text-align: center;
}

.uppercase {
  text-transform: uppercase !important;
}

.thumbnail {
  border:none !important;
  padding:0px !important;
  width:100% !important;
  margin-bottom: 0px !important;
}

a {
  color:#424242;
}

a:hover {

  text-decoration: none !important;
}

.btn-lg {
  font-size:14px;
}

.label {
  border-radius: 0px !important;
}

.form-control {
  box-shadow: none !important;
  border:1px solid #f5f5f5 !important;
}

#job_category {
  border-radius: 0px !important;
}

.pagination .prev {
  display:none !important;
}

.pagination .next {
  display:none !important;
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
    z-index: 3;
    color: #fff;
    background-color: #FFC107 !important;
    border-color: #FFC107 !important;
    cursor: default;
    font-weight: 500 !important;
}

.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #424242;
    background-color: #fff;
    border: 1px solid #f5f5f5;
    margin-left: -1px;
}

.btn {
  border-radius: 3px;
}

.form-control {
  border-radius: 3px;
}

.job-listing-single-job {
  margin-bottom: 24px;
  padding: 24px 0px;
  border-bottom: 1px solid #f5f5f5;
}

.main-wrapper {
  min-height: 100vh;
}

.dropdown-header {
    display: block;
    font-size: 12px;
    line-height: 1.42857143;
    color: #777777;
    white-space: nowrap;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 3px 20px;
}

.nav-pills {
  background:#424242;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #FFC107 !important;
    border-radius: 0px;
    font-weight: 500;
    text-transform: uppercase;
}

.nav-pills > li > a {
    border-radius: 0px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
}

.nav-pills > li > a:hover {
    border-radius: 0px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    background: #FFC107 !important;
}

p {
  font-size:14px !important;
}

.pagination > li > a, .pagination > li > span {
  font-weight: 500 !important;
}

.nav-tabs-justified > .active > a, .nav-tabs.nav-justified > .active > a, .nav-tabs-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs-justified > .active > a:focus, .nav-tabs.nav-justified > .active > a:focus {
    border-bottom-color: #FFC107 !important;
    background: #FFC107 !important;
    border: 1px solid #FFC107 !important;
    border-radius: 0rem;
    color: #fff;
}

.nav-tabs-justified > li > a, .nav-tabs.nav-justified > li > a {
    border-bottom: 1px solid #424242;
    border-radius: 0px;
    border: 1px solid #424242;
    background: #424242;
    color: #fff;
}

.nav-tabs.nav-justified > li > a:hover {
  border-bottom-color: #FFC107 !important;
  background: #FFC107 !important;
  border: 1px solid #FFC107 !important;
  border-radius: 0rem;
  color: #fff;
}

.thumnail-ns {
  width: 170px !important;
  padding: 16px !important;
}
